[Bb]in/
[Oo]bj/
packages/
Publish/[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
.nuget/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
.DS_Store
Thumbs.db
*.swp
